@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";
body {
  transition: background-color 0.7s, transform 0.7s;
  background-color: #0f0f0f !important;
  color: white !important;
}
body .golds p {
  color: rgba(255, 255, 255, 0.51);
}
body .above-carousel h1 {
  color: #fff;
}
body .above-carousel p {
  color: rgba(255, 255, 255, 0.4);
}
body .btn {
  transition: 1s;
  color: white;
}
body .btn:hover {
  background-color: #753139 !important;
}
body .below {
  background-color: #252525 !important;
  transition: background-color 0.7s, transform 0.7s;
}
body .opacity-card {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.7s, transform 0.7s;
}
body.dark {
  background-color: #f0f0f0 !important;
  color: black !important;
}
body.dark .opacity-card {
  background-color: rgba(255, 255, 255, 0.3);
}
body.dark .btn {
  color: white;
}
body.dark .golds p {
  color: rgba(0, 0, 0, 0.51);
}
body.dark .below {
  background-color: #8a8989 !important;
}
body.dark .above-carousel h1 {
  color: black;
}
body.dark .above-carousel p {
  color: rgba(0, 0, 0, 0.4);
}

.section-red {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #fff;
  background-color: #a62120;
  overflow: hidden;
}
.section-red .container-text,
.section-red .container-image {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.section-red .container-text.second {
  width: auto;
  padding-right: 200px;
}
.section-red .only-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.section-red .container-text.first h1 {
  width: 231px;
  height: 92px;
  margin-bottom: 29px;
  line-height: 42px;
}
.section-red .container-text.second h1 {
  width: 432px;
  height: 42px;
}
.section-red .container-text.second h2 {
  width: 432px;
  height: 42px;
  font-size: 22px;
}
.section-red .container-text.second p {
  width: 432px;
  height: 219px;
  font-size: 16px;
}
.section-red p {
  margin-top: 33px;
  font-weight: 300;
  line-height: 24px;
}
.section-red li {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
}
.section-red .btn {
  border-radius: 25px;
  cursor: pointer;
}
.section-red .btn-primary {
  background-color: #fff;
  margin-top: 66px;
  color: black !important;
  border: 1px solid #ff0000;
  padding: 12px 56px;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 1300px) {
  .section-red .container-text.second {
    padding-right: 20px;
  }
}
@media (max-width: 1000px) {
  .section-red .container-text,
  .section-red .container-image {
    flex: 1 1 100%;
  }
  .section-red .only-image {
    max-width: 100%;
  }
  .section-red .first,
  .section-red .container-text.second {
    margin: 20px;
    width: 90%;
  }
  .section-red .container-text.first h1,
  .section-red .container-text.second h1,
  .section-red .container-text.second h2,
  .section-red .container-text.second p {
    width: 100%;
    text-align: center;
  }
  .section-red .container-text {
    padding: 80px 20px 80px 20px;
  }
  .section-red .container-text.second h1,
  .section-red .container-text.second h2 {
    padding: 0 60px 0 60px;
  }
  .section-red ul {
    list-style-position: inside;
  }
  .section-red li {
    text-align: center;
  }
  .section-red .container-text.first h1,
  .section-red .container-text.second h1,
  .section-red .container-text.second h2,
  .section-red .container-text.second p {
    width: 100%;
    text-align: center;
  }
  .section-red .container-text.second h1,
  .section-red .container-text.second h2,
  .section-red .container-text.second p {
    margin-bottom: 30px;
  }
  .section-red .container-text.second h2 {
    margin-top: 30px;
  }
  .section-red .container-image {
    order: 2;
  }
  .section-red .container-text.second {
    order: 1;
  }
}
@media (max-width: 480px) {
  .section-red .container-text,
  .section-red .container-image {
    flex: 1 1 100%;
  }
  .section-red .only-image {
    max-width: 100%;
  }
  .section-red .first,
  .section-red .container-text.second {
    margin: 10px;
    width: 100%;
  }
}

body {
  transition: background-color 0.7s, transform 0.7s;
  background-color: #0f0f0f !important;
  color: white !important;
}
body .golds p {
  color: rgba(255, 255, 255, 0.51);
}
body .above-carousel h1 {
  color: #fff;
}
body .above-carousel p {
  color: rgba(255, 255, 255, 0.4);
}
body .btn {
  transition: 1s;
  color: white;
}
body .btn:hover {
  background-color: #753139 !important;
}
body .below {
  background-color: #252525 !important;
  transition: background-color 0.7s, transform 0.7s;
}
body .opacity-card {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.7s, transform 0.7s;
}
body.dark {
  background-color: #f0f0f0 !important;
  color: black !important;
}
body.dark .opacity-card {
  background-color: rgba(255, 255, 255, 0.3);
}
body.dark .btn {
  color: white;
}
body.dark .golds p {
  color: rgba(0, 0, 0, 0.51);
}
body.dark .below {
  background-color: #8a8989 !important;
}
body.dark .above-carousel h1 {
  color: black;
}
body.dark .above-carousel p {
  color: rgba(0, 0, 0, 0.4);
}

body {
  transition: background-color 0.7s, transform 0.7s;
  background-color: #0f0f0f !important;
  color: white !important;
}
body .golds p {
  color: rgba(255, 255, 255, 0.51);
}
body .above-carousel h1 {
  color: #fff;
}
body .above-carousel p {
  color: rgba(255, 255, 255, 0.4);
}
body .btn {
  transition: 1s;
  color: white;
}
body .btn:hover {
  background-color: #753139 !important;
}
body .below {
  background-color: #252525 !important;
  transition: background-color 0.7s, transform 0.7s;
}
body .opacity-card {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.7s, transform 0.7s;
}
body.dark {
  background-color: #f0f0f0 !important;
  color: black !important;
}
body.dark .opacity-card {
  background-color: rgba(255, 255, 255, 0.3);
}
body.dark .btn {
  color: white;
}
body.dark .golds p {
  color: rgba(0, 0, 0, 0.51);
}
body.dark .below {
  background-color: #8a8989 !important;
}
body.dark .above-carousel h1 {
  color: black;
}
body.dark .above-carousel p {
  color: rgba(0, 0, 0, 0.4);
}

.long-image {
  margin-bottom: 46px;
  margin-top: 46px;
}

.section-handwerk .handwerk-text {
  text-align: center;
  width: 100%;
  margin-top: 100px;
}
.section-handwerk .handwerk-text h1 {
  font-size: 32px;
  line-height: 26px;
  margin-bottom: 16px;
  margin-top: 119px;
}
.section-handwerk .handwerk-text h2 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 65px;
}
.section-handwerk .handwerk-text p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 300;
  padding: 0 33% 0 33%;
}
.section-handwerk .handwerk-text .btn {
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.section-handwerk .handwerk-text .btn-primary {
  background-color: #a62120;
  margin: 30px 0 82px 0;
  color: #fff;
  border: 1px solid white;
  padding: 12px 36px 13px 34px;
  font-weight: 400;
  font-size: 16px;
}
.section-handwerk .handwerk-text .imgroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}
.section-handwerk .handwerk-text .imgroup img {
  width: 262px;
  margin-right: 13px;
  margin-bottom: 20px;
}
@media (max-width: 1108px) {
  .section-handwerk .handwerk-text .long-image {
    width: 100%;
  }
  .section-handwerk .handwerk-text .imgroup {
    flex-wrap: wrap;
  }
  .section-handwerk .handwerk-text .imgroup img {
    width: calc(34% - 13px);
    margin-bottom: 20px;
  }
  .section-handwerk .handwerk-text .imgroup img:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .section-handwerk .handwerk-text .imgroup {
    flex-wrap: wrap;
  }
  .section-handwerk .handwerk-text .imgroup img {
    width: calc(47% - 13px);
    margin-bottom: 20px;
  }
  .section-handwerk .handwerk-text .imgroup img:nth-child(2n) {
    margin-right: 0;
  }
}

.secondOne .first {
  width: 50%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondOne .content-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.secondOne .firstone,
.secondOne .secondone {
  display: inline-block;
  vertical-align: middle;
}
.secondOne .secondone h2 {
  padding: 20px;
  margin-bottom: 0 !important;
  font-weight: 700;
  font-size: 32px !important;
  line-height: 42px;
}
.secondOne .secondone {
  text-align: left;
  margin-left: 130px;
}
.secondOne .secondone button {
  margin-left: 10px !important;
}
@media (max-width: 768px) {
  .secondOne .content-row {
    flex-direction: column;
  }
  .secondOne .secondone {
    text-align: center;
    margin-left: 0;
    margin-top: 20px;
  }
  .secondOne .secondone button {
    margin-left: 0 !important;
  }
  .secondOne .firstone img {
    width: 100%;
  }
}
.secondOne .image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}
.secondOne .long-image {
  width: 100%;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}
.secondOne .golds-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.secondOne .golds {
  text-align: center;
  margin: 10px;
}
.secondOne .golds img {
  width: 120px;
  height: 120px;
}
.secondOne .golds p {
  width: 170px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 300;
  padding: 0px;
  height: 48px;
}
.secondOne .golds-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin: 10px;
}
.secondOne .golds-text h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .secondOne .golds-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .secondOne .golds-text {
    grid-column: 1/-1;
    text-align: center;
  }
  .secondOne .golds {
    flex: initial;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .secondOne .golds img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 600px) {
  .secondOne .golds-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  .secondOne .golds-text {
    grid-column: 1/-1;
  }
  .secondOne .golds:nth-child(2),
  .secondOne .golds:nth-child(3) {
    grid-column: span 1;
  }
  .secondOne .golds:nth-child(4),
  .secondOne .golds:nth-child(5) {
    grid-column: span 1;
  }
}

@media (max-width: 1200px) {
  .section-handwerk .handwerk-text {
    text-align: center;
    width: 100%;
  }
  .section-handwerk .handwerk-text h1 {
    font-size: 32px;
    line-height: 26px;
    margin-bottom: 16px;
    margin-top: 119px;
  }
  .section-handwerk .handwerk-text h2 {
    font-size: 22px;
    margin-bottom: 65px;
  }
  .section-handwerk .handwerk-text p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 300;
  }
}
@media (max-width: 1108px) {
  .long-image {
    width: 100%;
  }
}
.special {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .text-padd p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 300;
    padding: 0 15% 0 15% !important;
  }
}
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container-pagination {
  color: #ffffff;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: auto;
}
.container-pagination .above-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-pagination .above-carousel h1 {
  font-weight: 700;
  font-size: 32px;
}
.container-pagination .above-carousel p {
  padding: 20px 0 20px 0;
  font-weight: 700;
  font-size: 18px;
}
.container-pagination .above-carousel .buttons .btn {
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.container-pagination .above-carousel .buttons .btn-primary {
  background-color: #a62120;
  border: 1px solid white;
  padding: 12px 56px 13px 55px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 76px;
}

.slider-container {
  position: relative;
  margin: 0 auto;
  width: 625px;
  height: 600px;
}

.slider-content {
  position: relative;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-single {
  background-color: #2c2c2c;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: z-index 0ms 250ms;
  width: auto;
  height: auto;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  transition: 500ms;
  transform: scale(0);
  opacity: 0;
}
.slider-single p {
  font-weight: 400;
}
.slider-single p:first-child {
  font-weight: 300;
  margin-bottom: 38px;
  line-height: 24px;
}
.slider-single p:last-child {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 38px;
  margin-top: 7px;
}

@media (max-width: 1200px) {
  .slider-right {
    top: 90.5% !important;
    right: 20% !important;
  }
  .slider-left {
    top: 92.5% !important;
    left: 20% !important;
  }
  .slider-single.proactive {
    opacity: 0 !important;
  }
  .slider-single.preactive {
    opacity: 0 !important;
  }
  .slider-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  .slider-single.active p {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
  }
  .slider-content {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .slider-single.active {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
}
.image-below {
  position: absolute;
  bottom: -22px;
  right: 18px;
}

.something-new:first-child {
  margin-bottom: 14px;
  margin-top: 40px;
}

.text {
  margin: 24px 40px 0 40px;
  text-align: center;
  width: 100%;
}

.slider-single.active {
  opacity: 1;
  transform: scale(1);
  margin-top: -40px;
}

.slider-single.preactive {
  opacity: 0.3;
  transform: translateX(-95%) scale(0.8);
}
.slider-single.preactive p:last-child {
  color: transparent;
  user-select: none;
}
.slider-single.preactive p:first-child {
  margin-top: 100px;
}
.slider-single.preactive .something-new {
  display: none;
}
.slider-single.preactive .image-below {
  display: none;
}

.slider-single.proactive {
  opacity: 0.3;
  transform: translateX(95%) scale(0.8);
}
.slider-single.proactive p:last-child {
  color: transparent;
  user-select: none;
}
.slider-single.proactive p:first-child {
  margin-top: 100px;
}
.slider-single.proactive .something-new {
  display: none;
}
.slider-single.proactive .image-below {
  display: none;
}

.slider-left {
  position: absolute;
  z-index: 3;
  display: block;
  top: 50%;
  color: #0f0f0f;
  transform: translateY(-50%);
  cursor: pointer;
  margin: 0 70px;
  background-color: white;
  border-radius: 100px;
  padding: 7px 0 6px 0;
  border: 1px solid #fff;
  left: -15px;
}

.slider-right {
  position: absolute;
  z-index: 3;
  display: block;
  top: 47.5%;
  color: #0f0f0f;
  transform: translateX(-50%);
  cursor: pointer;
  margin: 0 35px;
  background-color: white;
  border-radius: 100px;
  padding: 7px 0 6px 0;
  border: 1px solid #fff;
  right: 1px;
}

.footer {
  padding: 0 300px;
  background-color: #b50014;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-line {
  display: flex;
  justify-content: space-between;
  padding: 0 300px;
  background-color: #66000b;
  color: white;
  flex-wrap: wrap;
}

.footer-line .second,
.footer-line .first {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 28px;
}

.footer-line .second {
  text-align: right;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.footer-column p {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 220px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.footer-column.last {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.footer-column.first {
  width: 320px;
}

.footer-column p img {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer-column img {
  width: 131px;
  height: 131px;
}

.footer-column:nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-column:nth-child(3) img {
  width: 41px;
  margin-left: 10px;
  height: 41px;
}

@media (max-width: 1100px) {
  .footer,
  .footer-line {
    padding: 0 150px;
  }
}
@media (max-width: 792px) {
  .footer,
  .footer-line {
    padding: 0 50px;
    flex-direction: column;
    align-items: center;
  }
  .footer-line {
    align-items: center;
  }
  .footer-line .first,
  .footer-line .second {
    text-align: center;
    width: 100%;
    margin: 5px 0;
  }
  .footer-column.first,
  .footer-column {
    width: 100%;
    align-items: center;
  }
  .footer-column.first {
    margin-bottom: 20px;
  }
  .footer-column img {
    width: 100px;
    height: 100px;
  }
  .footer-column:nth-child(3) img {
    width: 50px;
    height: 50px;
  }
  .footer-column.last {
    flex-direction: column;
    align-items: center;
  }
  .footer-column.last div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-column.last span {
    margin-bottom: 10px;
  }
  .footer-column.last span {
    margin-bottom: 10px;
  }
  .footer-column p img {
    display: none;
  }
  .footer-column p {
    text-align: center;
    display: block;
  }
}
@media (max-width: 480px) {
  .footer,
  .footer-line {
    padding: 20 20px;
  }
  .footer-column p {
    width: 100%;
  }
  .footer-column img {
    width: 80px;
    height: 80px;
  }
  .footer-column:nth-child(3) img {
    width: 25px;
    height: 25px;
  }
}
body {
  transition: background-color 0.7s, transform 0.7s;
  background-color: #0f0f0f !important;
  color: white !important;
}
body .golds p {
  color: rgba(255, 255, 255, 0.51);
}
body .above-carousel h1 {
  color: #fff;
}
body .above-carousel p {
  color: rgba(255, 255, 255, 0.4);
}
body .btn {
  transition: 1s;
  color: white;
}
body .btn:hover {
  background-color: #753139 !important;
}
body .below {
  background-color: #252525 !important;
  transition: background-color 0.7s, transform 0.7s;
}
body .opacity-card {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.7s, transform 0.7s;
}
body.dark {
  background-color: #f0f0f0 !important;
  color: black !important;
}
body.dark .opacity-card {
  background-color: rgba(255, 255, 255, 0.3);
}
body.dark .btn {
  color: white;
}
body.dark .golds p {
  color: rgba(0, 0, 0, 0.51);
}
body.dark .below {
  background-color: #8a8989 !important;
}
body.dark .above-carousel h1 {
  color: black;
}
body.dark .above-carousel p {
  color: rgba(0, 0, 0, 0.4);
}

.header {
  overflow: visible;
  background-color: #b50014;
  height: 93px;
  position: relative;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .header {
    height: 66px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: transform 0.3s ease-out;
  }
}

.header.hidden {
  transform: translateY(-100%);
}

@media (max-width: 1200px) {
  body {
    padding-top: 66px;
  }
}
.container-header {
  width: 1200px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container-header {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .container-header {
    flex-wrap: wrap;
  }
}

.header a {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  margin-right: 16px;
}
@media (max-width: 1200px) {
  .header a {
    margin-right: 10px;
  }
}

.logo {
  z-index: 3;
  width: 178px;
  transform: translateY(12%);
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  height: 24px;
  width: 30px;
  z-index: 3;
}

@media (max-width: 1200px) {
  .header {
    height: 66px;
  }
  .logo {
    cursor: pointer;
    transform: translateY(10%);
    width: 96px;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0;
    background-color: #b50014;
    width: 100%;
    z-index: 2;
    text-align: center;
    padding: 20px 0;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
  }
  .nav-links.active {
    display: flex;
    max-height: 500px;
  }
  .nav-links.active a {
    padding: 10px 0;
  }
  .hamburger-menu {
    display: block;
  }
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: all 0.3s ease-out;
}

@media (max-width: 1200px) {
  .header {
    height: 66px;
  }
  .sticky {
    background-color: #b50014;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
.below {
  display: flex;
  height: auto;
}
.below .section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.below .section p {
  flex: 1 1 auto;
  margin: 0;
  padding: 17px 0 10px 0;
  text-align: right;
  font-size: 16px;
}
.below .section strong {
  margin-left: auto;
  margin-right: 10px;
}
.below .section .fa-regular.fa-clock {
  margin-left: 5px;
}
@media (max-width: 1199px) {
  .below .section {
    flex-wrap: wrap;
  }
  .below .section p {
    flex-basis: 100%;
    text-align: right;
    margin-right: 0;
  }
  .below .section strong {
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
    order: 1;
    display: block;
    margin-bottom: 5px;
  }
  .below .section .fa-regular.fa-clock {
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
    order: 2;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  transition: background-color 0.4s;
  border-radius: 24px;
  min-width: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: background-color 0.7s, transform 0.7s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  background-color: red;
  transform: translateX(26px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.swal2-container .swal2-popup {
  color: white;
  background-color: #b50014;
}

.swal2-styled.swal2-confirm {
  color: white;
  background-color: #7d000f;
  outline: none;
}

.swal2-styled.swal2-confirm:focus {
  outline: 10px solid rgba(181, 0, 20, 0.9294117647);
}

.section-paralax {
  background-image: url("../img/meso2.png");
  height: 540px;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-paralax .buttons {
  padding-top: 40px;
}
.section-paralax .buttons .btn {
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.section-paralax .buttons .btn-primary {
  background-color: #fff;
  color: #252525;
  border: 1px solid #ff0000;
  padding: 12px 56px 13px 55px;
  font-weight: 400;
  font-size: 16px;
}
.section-paralax h1 {
  font-weight: 700;
  font-size: 32px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  top: 90.2%;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
}

.swiper-button-next::after {
  margin-left: 4px;
}

.swiper-button-prev::after {
  margin-right: 4px;
}

.swiper-button-next {
  right: calc(50% - 135px);
}

.swiper-button-prev {
  left: calc(50% - 150px);
}

.swiper-pagination-bullet {
  background: white;
  border: 2px solid white;
  width: 17px;
  height: 17px;
  margin-bottom: 52px !important;
  margin-right: 21px !important;
}

.swiper-pagination-bullet-active {
  background-color: red !important;
}

.image-section {
  height: 75vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.opacity-card {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 25%;
  display: flex;
  z-index: 2;
}

.left-opacity {
  width: 50%;
  background-color: transparent;
}

.right-opacity {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-right: 56px;
}

.right-opacity h1 {
  font-size: 38px;
  margin-bottom: 15px;
}

.right-opacity p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.section-dark {
  width: 100%;
}
.section-dark .content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 114px 0 90px 0;
  max-width: 1125px;
  width: 100%;
  flex-wrap: wrap;
}
.section-dark .content {
  max-width: 427px;
  margin-right: 125px;
}
.section-dark .content h1 {
  font-size: 32px;
  margin-top: 30px;
}
.section-dark .content h2 {
  margin: 0 0 41px;
  font-size: 22px;
}
.section-dark .content p {
  margin: 0 0 10px;
  width: 427px;
  font-weight: 300;
  font-size: 16px;
}
.section-dark .content .buttons {
  display: flex;
  gap: 16px;
}
.section-dark .content .buttons .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.section-dark .content .buttons .btn-primary {
  background-color: #a62120;
  margin-top: 66px;
  border: 1px solid white;
  padding: 12px 56px 13px 55px;
  font-weight: 400;
  font-size: 16px;
}
.section-dark .images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.section-dark .images .main-image {
  width: 100%;
  max-width: 537px;
  height: auto;
}
.section-dark .images .thumbnails {
  display: flex;
  gap: 17px;
}
.section-dark .images .thumbnails img {
  width: 167px;
  height: 167px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-pagination-bullet {
    display: none !important;
  }
  .image-section {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .image-section img {
    height: auto;
    order: -1;
  }
  .opacity-card {
    position: static;
    width: 100%;
    height: auto;
    margin: 20px auto;
    display: block;
    order: 1;
    background-color: transparent !important;
  }
  .right-opacity {
    margin-right: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .right-opacity p {
    padding: 0 100px;
  }
}
@media (max-width: 1200px) {
  .content-container {
    padding-top: 0 !important;
  }
  .section-dark .content-container {
    flex-direction: column-reverse;
    max-width: 700px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
  .section-dark .content-container .buttons {
    display: block;
  }
  .section-dark .content,
  .images {
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .content {
    max-width: 350px !important;
  }
  .content p {
    max-width: 350px;
    padding: 0 !important;
  }
  .buttons .btn-primary {
    padding: 12px 30px 13px 30px !important;
    font-weight: 400;
    font-size: 16px;
  }
  .images .main-image {
    max-width: 336px !important;
  }
  .images .thumbnails img {
    width: 100% !important;
    height: 100px !important;
    margin-bottom: 10px;
  }
}