@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";
body {
  transition: background-color 0.7s, transform 0.7s;
  background-color: #0f0f0f !important;
  color: white !important;
}
body .golds p {
  color: rgba(255, 255, 255, 0.51);
}
body .above-carousel h1 {
  color: #fff;
}
body .above-carousel p {
  color: rgba(255, 255, 255, 0.4);
}
body .btn {
  transition: 1s;
  color: white;
}
body .btn:hover {
  background-color: #753139 !important;
}
body .below {
  background-color: #252525 !important;
  transition: background-color 0.7s, transform 0.7s;
}
body .opacity-card {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.7s, transform 0.7s;
}
body.dark {
  background-color: #f0f0f0 !important;
  color: black !important;
}
body.dark .opacity-card {
  background-color: rgba(255, 255, 255, 0.3);
}
body.dark .btn {
  color: white;
}
body.dark .golds p {
  color: rgba(0, 0, 0, 0.51);
}
body.dark .below {
  background-color: #8a8989 !important;
}
body.dark .above-carousel h1 {
  color: black;
}
body.dark .above-carousel p {
  color: rgba(0, 0, 0, 0.4);
}

.section-red {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #fff;
  background-color: #a62120;
  overflow: hidden;
}
.section-red .container-text,
.section-red .container-image {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.section-red .container-text.second {
  width: auto;
  padding-right: 200px;
}
.section-red .only-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.section-red .container-text.first h1 {
  width: 231px;
  height: 92px;
  margin-bottom: 29px;
  line-height: 42px;
}
.section-red .container-text.second h1 {
  width: 432px;
  height: 42px;
}
.section-red .container-text.second h2 {
  width: 432px;
  height: 42px;
  font-size: 22px;
}
.section-red .container-text.second p {
  width: 432px;
  height: 219px;
  font-size: 16px;
}
.section-red p {
  margin-top: 33px;
  font-weight: 300;
  line-height: 24px;
}
.section-red li {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
}
.section-red .btn {
  border-radius: 25px;
  cursor: pointer;
}
.section-red .btn-primary {
  background-color: #fff;
  margin-top: 66px;
  color: black !important;
  border: 1px solid #ff0000;
  padding: 12px 56px;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 1300px) {
  .section-red .container-text.second {
    padding-right: 20px;
  }
}
@media (max-width: 1000px) {
  .section-red .container-text,
  .section-red .container-image {
    flex: 1 1 100%;
  }
  .section-red .only-image {
    max-width: 100%;
  }
  .section-red .first,
  .section-red .container-text.second {
    margin: 20px;
    width: 90%;
  }
  .section-red .container-text.first h1,
  .section-red .container-text.second h1,
  .section-red .container-text.second h2,
  .section-red .container-text.second p {
    width: 100%;
    text-align: center;
  }
  .section-red .container-text {
    padding: 80px 20px 80px 20px;
  }
  .section-red .container-text.second h1,
  .section-red .container-text.second h2 {
    padding: 0 60px 0 60px;
  }
  .section-red ul {
    list-style-position: inside;
  }
  .section-red li {
    text-align: center;
  }
  .section-red .container-text.first h1,
  .section-red .container-text.second h1,
  .section-red .container-text.second h2,
  .section-red .container-text.second p {
    width: 100%;
    text-align: center;
  }
  .section-red .container-text.second h1,
  .section-red .container-text.second h2,
  .section-red .container-text.second p {
    margin-bottom: 30px;
  }
  .section-red .container-text.second h2 {
    margin-top: 30px;
  }
  .section-red .container-image {
    order: 2;
  }
  .section-red .container-text.second {
    order: 1;
  }
}
@media (max-width: 480px) {
  .section-red .container-text,
  .section-red .container-image {
    flex: 1 1 100%;
  }
  .section-red .only-image {
    max-width: 100%;
  }
  .section-red .first,
  .section-red .container-text.second {
    margin: 10px;
    width: 100%;
  }
}

body {
  transition: background-color 0.7s, transform 0.7s;
  background-color: #0f0f0f !important;
  color: white !important;
}
body .golds p {
  color: rgba(255, 255, 255, 0.51);
}
body .above-carousel h1 {
  color: #fff;
}
body .above-carousel p {
  color: rgba(255, 255, 255, 0.4);
}
body .btn {
  transition: 1s;
  color: white;
}
body .btn:hover {
  background-color: #753139 !important;
}
body .below {
  background-color: #252525 !important;
  transition: background-color 0.7s, transform 0.7s;
}
body .opacity-card {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.7s, transform 0.7s;
}
body.dark {
  background-color: #f0f0f0 !important;
  color: black !important;
}
body.dark .opacity-card {
  background-color: rgba(255, 255, 255, 0.3);
}
body.dark .btn {
  color: white;
}
body.dark .golds p {
  color: rgba(0, 0, 0, 0.51);
}
body.dark .below {
  background-color: #8a8989 !important;
}
body.dark .above-carousel h1 {
  color: black;
}
body.dark .above-carousel p {
  color: rgba(0, 0, 0, 0.4);
}

body {
  transition: background-color 0.7s, transform 0.7s;
  background-color: #0f0f0f !important;
  color: white !important;
}
body .golds p {
  color: rgba(255, 255, 255, 0.51);
}
body .above-carousel h1 {
  color: #fff;
}
body .above-carousel p {
  color: rgba(255, 255, 255, 0.4);
}
body .btn {
  transition: 1s;
  color: white;
}
body .btn:hover {
  background-color: #753139 !important;
}
body .below {
  background-color: #252525 !important;
  transition: background-color 0.7s, transform 0.7s;
}
body .opacity-card {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.7s, transform 0.7s;
}
body.dark {
  background-color: #f0f0f0 !important;
  color: black !important;
}
body.dark .opacity-card {
  background-color: rgba(255, 255, 255, 0.3);
}
body.dark .btn {
  color: white;
}
body.dark .golds p {
  color: rgba(0, 0, 0, 0.51);
}
body.dark .below {
  background-color: #8a8989 !important;
}
body.dark .above-carousel h1 {
  color: black;
}
body.dark .above-carousel p {
  color: rgba(0, 0, 0, 0.4);
}

.section-handwerk {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-handwerk .handwerk-text {
  text-align: center;
  width: 100%;
}
.section-handwerk .handwerk-text h1 {
  font-size: 32px;
  line-height: 26px;
  margin-bottom: 16px;
  margin-top: 119px;
}
.section-handwerk .handwerk-text h2 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 65px;
}
.section-handwerk .handwerk-text p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 300;
  width: 652px;
}
.section-handwerk .handwerk-text .btn {
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.section-handwerk .handwerk-text .btn-primary {
  background-color: #a62120;
  margin: 30px 0 82px 0;
  color: #fff;
  border: 1px solid white;
  padding: 12px 36px 13px 34px;
  font-weight: 400;
  font-size: 16px;
}
.section-handwerk .handwerk-text .long-image {
  margin-bottom: 46px;
}
.section-handwerk .handwerk-text .imgroup img {
  width: 262px;
  margin-right: 13px;
  margin-bottom: 227px;
}
.section-handwerk .handwerk-text .imgroup img:last-child {
  margin-right: 0;
}

.secondOne .first {
  width: 50%;
  margin: 0 auto;
  height: 540px; /* Adjust height to auto to accommodate variable content height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondOne .content-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.secondOne .firstone,
.secondOne .secondone {
  display: inline-block;
  vertical-align: middle;
}
.secondOne .secondone h2 {
  padding: 20px;
  margin-bottom: 0 !important;
  font-weight: 700;
  font-size: 32px !important;
  line-height: 42px;
}
.secondOne .secondone {
  text-align: left;
  margin-left: 130px;
}
.secondOne .secondone button {
  margin-bottom: 0 !important;
  margin-left: 10px !important;
}
.secondOne .image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto; /* This pushes the image-row to the bottom */
}
.secondOne .long-image {
  display: block;
  margin: 0 !important;
}
.secondOne .golds-container {
  display: flex;
  align-items: center;
  width: 1098px;
  justify-content: center;
  margin-bottom: 20px;
}
.secondOne .golds {
  flex: 1;
}
.secondOne .golds img {
  width: 120px;
  height: 120px;
}
.secondOne .golds p {
  width: 176px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 300;
}
.secondOne .golds-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px; /* same height as the images */
}
.secondOne .golds-text h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container-pagination {
  color: #ffffff;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: auto;
}
.container-pagination .above-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-pagination .above-carousel h1 {
  font-weight: 700;
  font-size: 32px;
}
.container-pagination .above-carousel p {
  padding: 20px 0 20px 0;
  font-weight: 700;
  font-size: 18px;
}
.container-pagination .above-carousel .buttons .btn {
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.container-pagination .above-carousel .buttons .btn-primary {
  background-color: #a62120;
  border: 1px solid white;
  padding: 12px 56px 13px 55px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 76px;
}

.slider-container {
  position: relative;
  margin: 0 auto;
  width: 625px;
  height: 600px;
}

.slider-content {
  position: relative;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-single {
  background-color: #2c2c2c;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: z-index 0ms 250ms;
  width: auto;
  height: auto;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  transition: 500ms;
  transform: scale(0);
  opacity: 0;
}
.slider-single p {
  font-weight: 400;
}
.slider-single p:first-child {
  font-weight: 300;
  margin-bottom: 38px;
  line-height: 24px;
}
.slider-single p:last-child {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 38px;
  margin-top: 7px;
}

.image-below {
  position: absolute;
  bottom: -22px;
  right: 18px;
}

.something-new:first-child {
  margin-bottom: 14px;
  margin-top: 40px;
}

.text {
  margin: 24px 40px 0 40px;
  text-align: center;
  width: 342px;
}

.slider-single.active {
  opacity: 1;
  transform: scale(1);
  margin-top: -40px;
}

.slider-single.preactive {
  opacity: 0.3;
  transform: translateX(-95%) scale(0.8);
}
.slider-single.preactive p:last-child {
  color: transparent;
  user-select: none;
}
.slider-single.preactive p:first-child {
  margin-top: 100px;
}
.slider-single.preactive .something-new {
  display: none;
}
.slider-single.preactive .image-below {
  display: none;
}

.slider-single.proactive {
  opacity: 0.3;
  transform: translateX(95%) scale(0.8);
}
.slider-single.proactive p:last-child {
  color: transparent;
  user-select: none;
}
.slider-single.proactive p:first-child {
  margin-top: 100px;
}
.slider-single.proactive .something-new {
  display: none;
}
.slider-single.proactive .image-below {
  display: none;
}

.slider-left {
  position: absolute;
  z-index: 3;
  display: block;
  top: 50%;
  color: #0f0f0f;
  transform: translateY(-50%);
  cursor: pointer;
  margin: 0 70px;
  background-color: white;
  border-radius: 100px;
  padding: 7px 0 6px 0;
  border: 1px solid #fff;
  left: -15px;
}

.slider-right {
  position: absolute;
  z-index: 3;
  display: block;
  top: 50%;
  color: #0f0f0f;
  transform: translateY(-50%);
  cursor: pointer;
  margin: 0 70px;
  background-color: white;
  border-radius: 100px;
  padding: 7px 0 6px 0;
  border: 1px solid #fff;
  right: 1px;
}

.footer {
  padding: 0 300px;
  background-color: #b50014;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-line {
  display: flex;
  justify-content: space-between;
  padding: 0 300px;
  background-color: #66000b;
  color: white;
  flex-wrap: wrap;
}

.footer-line .second,
.footer-line .first {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 28px;
}

.footer-line .second {
  text-align: right;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.footer-column p {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 220px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.footer-column.last {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.footer-column.first {
  width: 320px;
}

.footer-column p img {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer-column img {
  width: 131px;
  height: 131px;
}

.footer-column:nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-column:nth-child(3) img {
  width: 41px;
  margin-left: 10px;
  height: 41px;
}

/* Media queries for responsiveness */
@media (max-width: 1100px) {
  .footer,
  .footer-line {
    padding: 0 150px;
  }
}
@media (max-width: 792px) {
  .footer,
  .footer-line {
    padding: 0 50px;
    flex-direction: column;
    align-items: center;
  }
  .footer-line {
    align-items: center;
  }
  .footer-line .first,
  .footer-line .second {
    text-align: center;
    width: 100%;
    margin: 5px 0;
  }
  .footer-column.first,
  .footer-column {
    width: 100%;
    align-items: center;
  }
  .footer-column.first {
    margin-bottom: 20px;
  }
  .footer-column img {
    width: 100px;
    height: 100px;
  }
  .footer-column:nth-child(3) img {
    width: 50px;
    height: 50px;
  }
  .footer-column.last {
    flex-direction: column;
    align-items: center;
  }
  .footer-column.last div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-column.last span {
    margin-bottom: 10px;
  }
  .footer-column.last span {
    margin-bottom: 10px;
  }
  .footer-column p img {
    display: none;
  }
  .footer-column p {
    text-align: center;
    display: block;
  }
}
@media (max-width: 480px) {
  .footer,
  .footer-line {
    padding: 20 20px;
  }
  .footer-column p {
    width: 100%;
  }
  .footer-column img {
    width: 80px;
    height: 80px;
  }
  .footer-column:nth-child(3) img {
    width: 25px;
    height: 25px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-paralax {
  background-image: url("../meso2.png");
  height: 540px;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-paralax .buttons {
  padding-top: 40px;
}
.section-paralax .buttons .btn {
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.section-paralax .buttons .btn-primary {
  background-color: #fff;
  color: #252525;
  border: 1px solid #ff0000;
  padding: 12px 56px 13px 55px;
  font-weight: 400;
  font-size: 16px;
}
.section-paralax h1 {
  font-weight: 700;
  font-size: 32px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation buttons styles */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  top: 90.2%;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
}

.swiper-button-next::after {
  margin-left: 4px;
}

.swiper-button-prev::after {
  margin-right: 4px;
}

.swiper-button-next {
  right: calc(50% - 135px);
}

.swiper-button-prev {
  left: calc(50% - 150px);
}

.swiper-pagination-bullet {
  background: white;
  border: 2px solid white;
  width: 17px;
  height: 17px;
  margin-bottom: 52px !important;
  margin-right: 21px !important;
}

.swiper-pagination-bullet-active {
  background-color: red !important;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  overflow: hidden;
  background-color: #b50014;
  height: 93px;
  position: relative;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header a {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  margin-right: 41px;
}

.header a:last-child {
  margin-right: -100px;
}

.header a:first-child {
  margin-left: 100px;
}

.below {
  display: flex;
  height: auto;
  padding: 10px 10px;
}
.below p {
  font-size: 16px;
  font-weight: 400;
  align-items: end;
  margin-left: auto;
  margin-right: 10px;
}

.logo {
  position: absolute;
  top: -5px;
  left: 15%;
  transform: translateX(-50%);
  width: 10%;
  z-index: 3;
}

.image-section {
  height: 75vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1; /* Ensure this section is on the correct layer */
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the image is behind the opacity-card */
}

.opacity-card {
  width: 34%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 25%;
  display: flex;
  z-index: 2;
}

.left-opacity {
  width: 50%;
  background-color: transparent; /* Adjust this color if needed */
}

.right-opacity {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: flex-start; /* Align to the start horizontally */
  padding: 20px; /* Adjust padding as needed */
  margin-right: 56px;
}

.right-opacity h1 {
  font-size: 38px;
  margin-bottom: 15px;
}

.right-opacity p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 114px 419px 90px 412px;
  height: auto;
}
.section-dark {
  width: 100%;
}
.section-dark .content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1125px;
  width: 100%;
}
.section-dark .content {
  max-width: 427px;
  margin-right: 125px;
}
.section-dark .content h1 {
  font-size: 32px;
}
.section-dark .content h2 {
  margin: 0 0 41px;
  font-size: 22px;
}
.section-dark .content p {
  margin: 0 0 10px;
  width: 427px;
  font-weight: 300;
  font-size: 16px;
}
.section-dark .content .buttons {
  display: flex;
  gap: 16px;
}
.section-dark .content .buttons .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.section-dark .content .buttons .btn-primary {
  background-color: #a62120;
  margin-top: 66px;
  border: 1px solid white;
  padding: 12px 56px 13px 55px;
  font-weight: 400;
  font-size: 16px;
}
.section-dark .images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.section-dark .images .main-image {
  width: 537px;
  height: 326px;
}
.section-dark .images .thumbnails {
  display: flex;
  gap: 17px;
}
.section-dark .images .thumbnails img {
  width: 167px;
  height: 167px;
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header a {
    margin: 0 0 10px 0;
    float: none;
    display: block;
    text-align: left;
  }
  .header a:last-child {
    margin-bottom: 0;
  }
}
/* Base styles for the switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-right: 298px;
}

/* Hide the default input */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider base styles */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red; /* Default color when off */
  transition: background-color 0.4s;
  border-radius: 24px; /* Round slider shape */
}

/* Slider thumb (circle) */
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white; /* Default color of the thumb */
  transition: background-color 0.7s, transform 0.7s;
  border-radius: 50%; /* Rounded shape for the thumb */
}

/* Styles for the slider when it's checked (active state) */
input:checked + .slider {
  background-color: white; /* Change background color when checked */
}

/* Move the thumb to the right when checked */
input:checked + .slider:before {
  background-color: red; /* Change color of the thumb when checked */
  transform: translateX(26px);
}