body {
  transition: background-color 0.7s, transform 0.7s;
  background-color: #0f0f0f !important;
  color: white !important;
}
body .golds p {
  color: rgba(255, 255, 255, 0.51);
}
body .above-carousel h1 {
  color: #fff;
}
body .above-carousel p {
  color: rgba(255, 255, 255, 0.4);
}
body .btn {
  transition: 1s;
  color: white;
}
body .btn:hover {
  background-color: #753139 !important;
}
body .below {
  background-color: #252525 !important;
  transition: background-color 0.7s, transform 0.7s;
}
body .opacity-card {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.7s, transform 0.7s;
}
body.dark {
  background-color: #f0f0f0 !important;
  color: black !important;
}
body.dark .opacity-card {
  background-color: rgba(255, 255, 255, 0.3);
}
body.dark .btn {
  color: white;
}
body.dark .golds p {
  color: rgba(0, 0, 0, 0.51);
}
body.dark .below {
  background-color: #8a8989 !important;
}
body.dark .above-carousel h1 {
  color: black;
}
body.dark .above-carousel p {
  color: rgba(0, 0, 0, 0.4);
}

.section-red {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #fff;
  background-color: #a62120;
  overflow: hidden;
}
.section-red .container-text,
.section-red .container-image {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.section-red .container-text.second {
  width: auto;
  padding-right: 200px;
}
.section-red .only-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.section-red .container-text.first h1 {
  width: 231px;
  height: 92px;
  margin-bottom: 29px;
  line-height: 42px;
}
.section-red .container-text.second h1 {
  width: 432px;
  height: 42px;
}
.section-red .container-text.second h2 {
  width: 432px;
  height: 42px;
  font-size: 22px;
}
.section-red .container-text.second p {
  width: 432px;
  height: 219px;
  font-size: 16px;
}
.section-red p {
  margin-top: 33px;
  font-weight: 300;
  line-height: 24px;
}
.section-red li {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
}
.section-red .btn {
  border-radius: 25px;
  cursor: pointer;
}
.section-red .btn-primary {
  background-color: #fff;
  margin-top: 66px;
  color: black !important;
  border: 1px solid #ff0000;
  padding: 12px 56px;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 1300px) {
  .section-red .container-text.second {
    padding-right: 20px;
  }
}
@media (max-width: 1000px) {
  .section-red .container-text,
  .section-red .container-image {
    flex: 1 1 100%;
  }
  .section-red .only-image {
    max-width: 100%;
  }
  .section-red .first,
  .section-red .container-text.second {
    margin: 20px;
    width: 90%;
  }
  .section-red .container-text.first h1,
  .section-red .container-text.second h1,
  .section-red .container-text.second h2,
  .section-red .container-text.second p {
    width: 100%;
    text-align: center;
  }
  .section-red .container-text {
    padding: 80px 20px 80px 20px;
  }
  .section-red .container-text.second h1,
  .section-red .container-text.second h2 {
    padding: 0 60px 0 60px;
  }
  .section-red ul {
    list-style-position: inside;
  }
  .section-red li {
    text-align: center;
  }
  .section-red .container-text.first h1,
  .section-red .container-text.second h1,
  .section-red .container-text.second h2,
  .section-red .container-text.second p {
    width: 100%;
    text-align: center;
  }
  .section-red .container-text.second h1,
  .section-red .container-text.second h2,
  .section-red .container-text.second p {
    margin-bottom: 30px;
  }
  .section-red .container-text.second h2 {
    margin-top: 30px;
  }
  .section-red .container-image {
    order: 2;
  }
  .section-red .container-text.second {
    order: 1;
  }
}
@media (max-width: 480px) {
  .section-red .container-text,
  .section-red .container-image {
    flex: 1 1 100%;
  }
  .section-red .only-image {
    max-width: 100%;
  }
  .section-red .first,
  .section-red .container-text.second {
    margin: 10px;
    width: 100%;
  }
}