.footer {
  padding: 0 300px;
  background-color: #b50014;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-line {
  display: flex;
  justify-content: space-between;
  padding: 0 300px;
  background-color: #66000b;
  color: white;
  flex-wrap: wrap;
}

.footer-line .second,
.footer-line .first {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 28px;
}

.footer-line .second {
  text-align: right;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.footer-column p {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 220px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.footer-column.last {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.footer-column.first {
  width: 320px;
}

.footer-column p img {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer-column img {
  width: 131px;
  height: 131px;
}

.footer-column:nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-column:nth-child(3) img {
  width: 41px;
  margin-left: 10px;
  height: 41px;
}

@media (max-width: 1100px) {
  .footer,
  .footer-line {
    padding: 0 150px;
  }
}

@media (max-width: 792px) {
  .footer,
  .footer-line {
    padding: 0 50px;
    flex-direction: column;
    align-items: center;
  }

  .footer-line {
    align-items: center;
  }

  .footer-line .first,
  .footer-line .second {
    text-align: center;
    width: 100%;
    margin: 5px 0;
  }

  .footer-column.first,
  .footer-column {
    width: 100%;
    align-items: center;
  }

  .footer-column.first {
    margin-bottom: 20px;
  }

  .footer-column img {
    width: 100px;
    height: 100px;
  }

  .footer-column:nth-child(3) img {
    width: 50px;
    height: 50px;
  }

  .footer-column.last {
    flex-direction: column;
    align-items: center;
  }

  .footer-column.last div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-column.last span {
    margin-bottom: 10px;
  }
  .footer-column.last span {
    margin-bottom: 10px;
  }

  .footer-column p img {
    display: none;
  }
  .footer-column p {
    text-align: center;
    display: block;
  }
}

@media (max-width: 480px) {
  .footer,
  .footer-line {
    padding: 20 20px;
  }

  .footer-column p {
    width: 100%;
  }

  .footer-column img {
    width: 80px;
    height: 80px;
  }

  .footer-column:nth-child(3) img {
    width: 25px;
    height: 25px;
  }
}
