@import "colors.scss";

// .section-handwerk {
//   background-color: blue;
//   height: 1160px;
// }
.section-handwerk {
  .handwerk-text {
    text-align: center;
    width: 100%;
    // color: #fff;

    h1 {
      font-size: 32px;
      line-height: 26px;
      margin-bottom: 16px;
      margin-top: 119px;
    }

    h2 {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 65px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto;
      margin-bottom: 10px;
      font-weight: 300;
      padding: 0 33% 0 33%;
    }

    .btn {
      //   padding: 12px 36px 13px 34px;
      border: none;
      border-radius: 25px;
      cursor: pointer;

      &-primary {
        background-color: $thirdBox-Color;
        margin: 30px 0 82px 0;
        color: #fff;
        border: 1px solid white;
        padding: 12px 36px 13px 34px;
        font-weight: 400;
        font-size: 16px;
      }
    }
    .long-image {
      margin-bottom: 46px;
    }

    .imgroup {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      img {
        width: 262px;
        margin-right: 13px;
        margin-bottom: 20px; /* Adjust margin bottom as needed */
      }
    }

    @media (max-width: 1108px) {
      .long-image {
        width: 100%;
      }

      .imgroup {
        flex-wrap: wrap;

        img {
          // padding-left: 150px;
          width: calc(34% - 13px); /* Calculate 50% width minus margin */
          margin-bottom: 20px; /* Adjust margin bottom as needed */

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
    @media (max-width: 768px) {
      .imgroup {
        flex-wrap: wrap;

        img {
          width: calc(47% - 13px); /* Calculate 50% width minus margin */
          margin-bottom: 20px; /* Adjust margin bottom as needed */

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
.secondOne {
  .first {
    width: 50%;
    margin: 0 auto;
    height: 440px; /* Adjust height to auto to accommodate variable content height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }

  .firstone,
  .secondone {
    display: inline-block;
    vertical-align: middle;
  }

  .secondone h2 {
    padding: 20px;
    margin-bottom: 0 !important;
    font-weight: 700;
    font-size: 32px !important;
    line-height: 42px;
  }

  .secondone {
    text-align: left;
    margin-left: 130px;
  }

  .secondone button {
    margin-bottom: 0 !important;
    margin-left: 10px !important;
  }

  .image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto; /* This pushes the image-row to the bottom */
  }

  .long-image {
    width: 100%;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
  }

  .golds-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .golds {
    text-align: center;
    margin: 10px;
  }

  .golds img {
    width: 120px;
    height: 120px;
  }

  .golds p {
    width: 170px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 300;
    padding: 0px;
    height: 48px;
  }

  .golds-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px; /* Same height as the images */
    margin: 10px;
  }

  .golds-text h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
  }

  /* Media query for smaller screens */
  @media (max-width: 1024px) {
    .golds-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .golds-text {
      grid-column: 1 / -1; /* Make the text container span across two columns */
      text-align: center; /* Center the text */
    }

    .golds {
      flex: initial;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .golds img {
      width: 100px; /* Adjust image size */
      height: 100px; /* Adjust image size */
    }
  }

  /* Media query for smallest screens */
  @media (max-width: 600px) {
    .golds-container {
      grid-template-columns: 1fr 1fr; /* Ensure two items per row */
      grid-auto-rows: auto;
    }

    .golds-text {
      grid-column: 1 / -1;
      /* Make the text container span across two columns */
    }

    .golds:nth-child(2),
    .golds:nth-child(3) {
      grid-column: span 1; /* Ensure first two images are on the second row */
    }

    .golds:nth-child(4),
    .golds:nth-child(5) {
      grid-column: span 1; /* Ensure next two images are on the third row */
    }
  }
}

@media (max-width: 1200px) {
  .section-handwerk {
    .handwerk-text {
      text-align: center;
      width: 100%;
      // color: #fff;

      h1 {
        font-size: 32px;
        line-height: 26px;
        margin-bottom: 16px;
        margin-top: 119px;
      }

      h2 {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 65px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        margin: 0 auto;
        margin-bottom: 10px;
        font-weight: 300;
        // padding: 0 15% 0 15%;
      }
    }
  }
}
@media (max-width: 1108px) {
  .long-image {
    width: 100%;
  }
}
.special {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .text-padd p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 300;
    padding: 0 15% 0 15% !important;
  }
}
