@import "colors.scss";

// .section-handwerk {
//   background-color: blue;
//   height: 1160px;
// }

.section-handwerk {
  display: flex;
  justify-content: center;
  align-items: center;
  //   height: auto;

  .handwerk-text {
    text-align: center;
    width: 100%;
    // color: #fff;

    h1 {
      font-size: 32px;
      line-height: 26px;
      margin-bottom: 16px;
      margin-top: 119px;
    }

    h2 {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 65px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto;
      margin-bottom: 10px;
      font-weight: 300;
      width: 652px;
    }

    .btn {
      //   padding: 12px 36px 13px 34px;
      border: none;
      border-radius: 25px;
      cursor: pointer;

      &-primary {
        background-color: $thirdBox-Color;
        margin: 30px 0 82px 0;
        color: #fff;
        border: 1px solid white;
        padding: 12px 36px 13px 34px;
        font-weight: 400;
        font-size: 16px;
      }
    }
    .long-image {
      margin-bottom: 46px;
    }
    .imgroup img {
      width: 262px;
      margin-right: 13px;
      margin-bottom: 227px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.secondOne {
  .first {
    width: 50%;
    margin: 0 auto;
    height: 540px; /* Adjust height to auto to accommodate variable content height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }

  .firstone,
  .secondone {
    display: inline-block;
    vertical-align: middle;
  }

  .secondone h2 {
    padding: 20px;
    margin-bottom: 0 !important;
    font-weight: 700;
    font-size: 32px !important;
    line-height: 42px;
  }

  .secondone {
    text-align: left;
    margin-left: 130px;
  }

  .secondone button {
    margin-bottom: 0 !important;
    margin-left: 10px !important;
  }

  .image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto; /* This pushes the image-row to the bottom */
  }

  .long-image {
    display: block;
    margin: 0 !important;
  }

  .golds-container {
    display: flex;
    align-items: center;
    width: 1098px;
    justify-content: center;

    margin-bottom: 20px;
  }

  .golds {
    flex: 1;
    // gap: ;
    // margin: 0 50px;
  }

  .golds img {
    width: 120px;

    height: 120px;
  }

  .golds p {
    width: 176px;
    // color: rgba(255, 255, 255, 0.51);
    line-height: 26px;
    font-size: 16px;
    font-weight: 300;
  }

  .golds-text {
    display: flex;

    align-items: center;

    justify-content: center;

    height: 120px; /* same height as the images */
  }

  .golds-text h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
  }
}
