@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "section.scss";
@import "colors.scss";
@import "handwerk.scss";
@import "pagination.scss";
@import "footer.scss";
@import "header.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-paralax {
  background-image: url("../meso2.png");
  height: 540px;
  background-attachment: fixed;
  // background-size: cover;
  // background-position: center;
  // scale: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .buttons {
    padding-top: 40px;

    .btn {
      border: none;
      border-radius: 25px;
      cursor: pointer;

      &-primary {
        background-color: #fff;
        color: #252525;

        border: 1px solid #ff0000;
        padding: 12px 56px 13px 55px;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
  h1 {
    font-weight: 700;
    // color: #fff;
    font-size: 32px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation buttons styles */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  top: 90.2%;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
}
.swiper-button-next::after {
  margin-left: 4px;
}
.swiper-button-prev::after {
  margin-right: 4px;
}

.swiper-button-next {
  right: calc(50% - 135px);
}

.swiper-button-prev {
  left: calc(50% - 150px);
}

.swiper-pagination-bullet {
  background: white;
  border: 2px solid white;
  width: 17px;
  height: 17px;
  margin-bottom: 52px !important;
  margin-right: 21px !important;
}

.swiper-pagination-bullet-active {
  background-color: red !important;
}
body {
  font-family: "Roboto", sans-serif;
}

.image-section {
  // text-align: center;
  height: 75vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1; /* Ensure this section is on the correct layer */
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the image is behind the opacity-card */
}

.opacity-card {
  width: calc(100% - 66%);
  height: 50%;
  // background-color: rgba(0, 0, 0, 0.3);
  // color: white;
  position: absolute;
  left: 0;
  top: 25%;
  display: flex;
  z-index: 2;
}

.left-opacity {
  width: 50%;
  background-color: transparent; /* Adjust this color if needed */
}

.right-opacity {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: flex-start; /* Align to the start horizontally */
  padding: 20px; /* Adjust padding as needed */
  margin-right: 56px;
}

.right-opacity h1 {
  font-size: 38px;
  margin-bottom: 15px;
}
.right-opacity p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

//novo

.section {
  // color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;

  &-dark {
    width: 100%;

    .content-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 114px 0 90px 0;
      max-width: 1125px;
      width: 100%;
      flex-wrap: wrap;
    }

    .content {
      max-width: 427px;
      margin-right: 125px;

      h1 {
        font-size: 32px;
      }
      h2 {
        margin: 0 0 41px;
        font-size: 22px;
      }

      p {
        margin: 0 0 10px;
        width: 427px;
        // height: 219px;
        font-weight: 300;
        font-size: 16px;
      }

      .buttons {
        display: flex;
        gap: 16px;

        .btn {
          padding: 10px 20px;
          border: none;
          border-radius: 25px;
          cursor: pointer;

          &-primary {
            background-color: $thirdBox-Color;
            margin-top: 66px;
            // color: #fff;
            border: 1px solid white;
            padding: 12px 56px 13px 55px;
            font-weight: 400;
            font-size: 16px;
          }
        }
      }
    }

    .images {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 17px;

      .main-image {
        width: 100%;
        max-width: 537px;
        height: auto;
      }

      .thumbnails {
        display: flex;
        gap: 17px;

        img {
          width: 167px;
          height: 167px;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .section-dark .content-container {
    flex-direction: column-reverse; /* Column reverse to place images above content */

    max-width: 700px;
    margin: 0 auto;
    align-items: center; /* Center align items */
    text-align: center; /* Center text */
    .buttons {
      display: block;
    }
  }

  .section-dark .content,
  .images {
    text-align: center; /* Center align text inside .content */
    margin: 0 auto; /* Center .content itself horizontally */
  }
}
@media (max-width: 700px) {
  .content {
    max-width: 350px !important;
  }
  .content p {
    max-width: 350px;
    padding: 0 !important;
  }
  .buttons {
    .btn {
      &-primary {
        padding: 12px 30px 13px 30px !important;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
  .images {
    .main-image {
      max-width: 336px !important;
    }

    .thumbnails {
      img {
        width: 100% !important;
        height: 100px !important;
        margin-bottom: 10px;
      }
    }
  }
}

//raznjic deo

//raznjic deo

/* Base styles for the switch container */
