@import "colors.scss";

.section-red {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #fff;
  background-color: $thirdBox-Color;
  overflow: hidden;

  .container-text,
  .container-image {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .container-text.second {
    width: auto;
    padding-right: 200px;
  }

  .only-image {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .container-text.first h1 {
    width: 231px;
    height: 92px;
    margin-bottom: 29px;
    line-height: 42px;
  }

  .container-text.second h1 {
    width: 432px;
    height: 42px;
  }

  .container-text.second h2 {
    width: 432px;
    height: 42px;
    font-size: 22px;
  }

  .container-text.second p {
    width: 432px;
    height: 219px;
    font-size: 16px;
  }

  p {
    margin-top: 33px;
    font-weight: 300;
    line-height: 24px;
  }

  li {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
  }

  .btn {
    border-radius: 25px;
    cursor: pointer;

    &-primary {
      background-color: #fff;
      margin-top: 66px;
      color: black !important;
      border: 1px solid $border-button;
      padding: 12px 56px;
      font-weight: 400;
      font-size: 16px;
    }
  }

  @media (max-width: 1300px) {
    .container-text.second {
      padding-right: 20px;
    }
  }
  @media (max-width: 1000px) {
    .container-text,
    .container-image {
      flex: 1 1 100%;
    }

    .only-image {
      max-width: 100%;
    }

    .first,
    .container-text.second {
      margin: 20px;
      width: 90%;
    }

    .container-text.first h1,
    .container-text.second h1,
    .container-text.second h2,
    .container-text.second p {
      width: 100%;
      text-align: center;
    }

    .container-text {
      padding: 80px 20px 80px 20px;
    }

    .container-text.second h1,
    .container-text.second h2 {
      padding: 0 60px 0 60px;
    }
    ul {
      list-style-position: inside;
    }
    li {
      text-align: center;
    }

    .container-text.first h1,
    .container-text.second h1,
    .container-text.second h2,
    .container-text.second p {
      width: 100%;
      text-align: center;
    }
    .container-text.second h1,
    .container-text.second h2,
    .container-text.second p {
      margin-bottom: 30px;
    }
    .container-text.second h2 {
      margin-top: 30px;
    }

    .container-image {
      order: 2;
    }

    .container-text.second {
      order: 1;
    }
  }

  @media (max-width: 480px) {
    .container-text,
    .container-image {
      flex: 1 1 100%;
    }

    .only-image {
      max-width: 100%;
    }

    .first,
    .container-text.second {
      margin: 10px;
      width: 100%;
    }
  }
}
